<h1>Samples#show</h1>
<p>Find me in app/views/samples/show.html.erb</p>

<div style="margin-bottom: 30px;">
  <%= image_tag "Line-OA-icon.png" %>
  <%= asset_path "Line-OA-icon.png" %>
</div>

<div>
  <%= image_tag "sample/20170506_cuk400_0.jpg" %>
</div>